azureml-sdk==1.44.0
azureml-core==1.44.0
azureml-defaults==1.44.0
azureml-mlflow==1.44.0
azureml-inference-server-http==0.7.7
openapi-spec-validator==0.6.0
jsonschema==4.18.4
black==22.12.0
isort==5.12.0
mypy==1.6.1
pylint==3.0.2
pytest==7.4.3
types-PyYAML==6.0.12.12
click==8.1.7
coverage
gensim==4.3.1
nltk==3.8.1
numpy==1.24.4
pandas==1.3.2
pyspellchecker==0.7.2
PyYAML==6.0.1
scispacy==0.5.2
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
torch==2.0.1
transformers==4.29.2
urllib3==1.25.11
xgboost==2.0.2
cloudpickle==2.2.1